doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Marvel Game card
		link(rel="stylesheet", href="./app.css")

	body
		h1 Marvel Card
		div(class="Card")
			h2(class="card-name") Wolverine
			div
				p hola